name: CI

on:
  push:
    branches: [ "development" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install

      # - name: Rodar Teste de Lint
      #   run: npm run test

        # pode dar erro no commit
      # - name: Rodar Testes geral
      #   run: npm run global_test
        